<div class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-3 gap-4 bg-gray-100 p-5 mb-3">
    <div class="">
      <ul class="list-disc ml-8 mb-4"><span class="font-bold">Platform</span>
        <li>Big Data Infrastructure</li>
        <li>Real-time watch</li>
        <li>Data capture agents</li>
        <li>Unlimited Data Storage</li>
        <li>Data Security</li>    
      </ul>
    </div>
    <div class="">
      <ul class="list-disc ml-4 mb-4"><span class="font-bold">Apps</span>
        <li>Multi Device Dashboard</li>
        <li>Analytics and Reporting</li>
        <li>Scoring</li>   
      </ul>
    </div>
    <div class="">
      <ul class="list-disc ml-8 mb-4"><span class="font-bold">Services</span>
        <li>Full-Stack Exception Handling</li>
        <li>Advanced Diagnostics</li>
        <li>Context Sensitive Feedback and Support capture</li>
        <li>Multi language integration</li>
        <li>Application health monitoring</li>    
      </ul>
    </div>
  </div>